@import "tailwindcss";
body {
    font-family: 'Poppins', sans-serif;
  }
  iframe.skiptranslate { 
    display: none !important; 
  }
  
  body { 
    top: 0px !important; 
  }
  .notranslate {
    unicode-bidi: plaintext;
  }
    
  
  